body { 
    margin: 0;
    //font-family: ;
    font-weight: 600;
}

.working-process {
    padding: 145px 0;

    .card {
        width: 100%;
        background-image: ; //сылка на фото
        background-repeat: no-repeat;
        background-position:center ;
        margin-bottom: 23px;

        &::after {                    //использование псевдокласса для регулировки высоты с помощью % 
            content: '';
            display: block;         //обязательно при использовании высоты картинки
            padding-bottom:80% ;
        }

    }
}

.chapter {
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    text-transform: capitalize;             //для того чтобы все слова были с большой буквы


    &_orange {
        color: #fd8569;
    }

    @media screen and(max-width: 436px) {
        font-size: 32px;
    }
}

.title {
    width: 100%;
    text-align: center;
    margin-bottom: 115px;
    color: red;     
    margin-bottom: 115px;
}